/* ***************************** */
/* Basic Setup */
/* ***************************** */
html, body, *:not(.glyphicon) { font-family: 'Roboto', sans-serif !important; color: #fff; }
body {
    background: #1d212c url(../images/background.jpg) center top no-repeat;
    background-size: cover;
}

/* Icons Properties*/
.glyphicon {
    font-size: 50px;
}



/* ***************************** */
/* Forms Data */
/* ***************************** */
input[type="text"], input[type="password"] {
    background-color: #1a1e28;
    border-radius: 0;
    border: 0;
    color: #fff;
    display: inline-block;

    -webkit-transition : border 750ms ease-in-out;
    -moz-transition : border 750ms ease-in-out;
    -o-transition : border 750ms ease-in-out;
    transition : border 750ms ease-in-out;
}
button,
button:focus,
input, 
input:focus {
    border: none;
    border-color: Transparent !important;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}
input:focus {
    border-bottom: 1px solid #fff !important;
}
/* Placeholder text (i.e. for input fields) */
::-webkit-input-placeholder { color: #68788c !important; }
:-moz-placeholder           { color: #68788c !important; }
::-moz-placeholder          { color: #68788c !important; }
:-ms-input-placeholder      { color: #68788c !important; }


button {
    padding: 10px 50px;
    font-weight: bold;
    background-color: #00bff3;
    border: 0;
    border-radius: 10px;
    color: #fff;
}

/* ***************************** */
/* Alerts Data */
/* ***************************** */
.alert-danger {
    color: #a7221f !important;
    background-color: transparent;
    border-color: transparent;
    font-weight: bold;
}





/* ***************************** */
/* Effects Animation */
/* ***************************** */
.glyphicon-spin {
    -webkit-animation: spin 2000ms infinite linear;
    animation: spin 2000ms infinite linear;
}
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}



/* ***************************** */
/* Utility Classes */
/* ***************************** */
.m-t-0 { margin-top: 0 !important; }
.m-t-5 { margin-top: 5px !important; }
.m-t-10 { margin-top: 10px !important; }
.m-t-15 { margin-top: 15px !important; }
.m-t-20 { margin-top: 20px !important; }
.m-t-25 { margin-top: 25px !important; }
.m-t-30 { margin-top: 30px !important; }

.m-t--5 { margin-top: -5px !important; }
.m-t--10 { margin-top: -10px !important; }
.m-t--15 { margin-top: -15px !important; }
.m-t--20 { margin-top: -20px !important; }
.m-t--25 { margin-top: -25px !important; }
.m-t--30 { margin-top: -30px !important; }

.m-b-0 { margin-bottom: 0 !important; }
.m-b-5 { margin-bottom: 5px !important; }
.m-b-10 { margin-bottom: 10px !important; }
.m-b-15 { margin-bottom: 15px !important; }
.m-b-20 { margin-bottom: 20px !important; }
.m-b-25 { margin-bottom: 25px !important; }
.m-b-30 { margin-bottom: 30px !important; }

.m-b--5 { margin-bottom: -5px !important; }
.m-b--10 { margin-bottom: -10px !important; }
.m-b--15 { margin-bottom: -15px !important; }
.m-b--20 { margin-bottom: -20px !important; }
.m-b--25 { margin-bottom: -25px !important; }
.m-b--30 { margin-bottom: -30px !important; }

.o-0 { opacity: 0.0; }
.o-10 { opacity: 0.1; }
.o-20 { opacity: 0.2; }
.o-30 { opacity: 0.3; }
.o-40 { opacity: 0.4; }
.o-50 { opacity: 0.5; }
.o-60 { opacity: 0.6; }
.o-70 { opacity: 0.7; }
.o-80 { opacity: 0.8; }
.o-90 { opacity: 0.9; }
.o-100 { opacity: 1.0; }

.app-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -25px;
}

.has-error .form-control {
    border: 1px solid #db0000 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}